{% extends 'base.html' %}

{% block app_search_form %}<!--Campo de pesquisar-->
    {% include 'includes/search_moviment.html' %}
{% endblock %}

{% load moviment_extras %}

{% block breadcrumb %}<!--estrutura de links, paginas anteriores-->
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:index' %}">Patrimônio</a></li>
    <li class="breadcrumb-item active">Movimentações</li>
{% endblock %}

{% block content %}
    <meta http-equiv="refresh" content="5">
    <div class="my-4"><!--Botão para requisitar nova movimentação-->
        <a class="btn btn-primary" href="{% url 'patrimony:moviment_create' %}">Nova Movimentação</a>
    </div>
    <!--Tabela do patrimonio-->
    <table class="table table-striped table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Usuário Responsavel</th>
                <th>Destino</th>
                <th>Criado em</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for moviment in moviments %}
                <tr>
                    <td><a href="{% url 'patrimony:moviment_detail' moviment.pk %}">[Solicitação Nº - {{ moviment.pk }}]</a></td>
                    <td>{{ moviment.user }}</td>
                    <td>{{ moviment.destiny }}</td>
                    <td>{{ moviment.created|date:"d/m/Y" }}</td>
                    <td><span class="badge badge-{{ moviment|get_status_css_class }}">{{ moviment.get_status_display }}</span></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma Movimentação</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'includes/pagination.html' %}
{% endblock %}