{% load widget_tweaks %}

<form method="post" action="{% url 'patrimony:moviment_delete' moviment.pk %}" class="js-moviment-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Deletar Movimentação</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Você tem certeza que deseja deletar a movimentação de <strong>{{ moviment.user }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Excluir</button>
  </div>
</form>