{% load widget_tweaks %}

<form method="post" action="{% url 'patrimony:moviment_update' form.instance.pk %}" class="js-moviment-update-form">
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Atualizar Movimentação</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% include 'includes/form.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>
</form>