{% extends 'base.html' %}
{% load static %}
{% block javascript %}
    <script src="{% static 'patrimony/js/moviments.js' %}"></script>
{% endblock %}

{% block title %} Solicitar Movimentação {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:index' %}">Patrimônio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:moviment' %}">Movimentações</a></li>
    <li class="breadcrumb-item active">Solicitar Movimentação</li>
{% endblock %}

{% block content %}
    <div>
        <h5 class="mb-4">Solicitação de Movimentação</h5>
        <form action="{% url 'patrimony:moviment_create' %}" method="post">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button class="btn btn-success mb-3" type="submit">Cadastrar</button>
        </form>
{% endblock %}