{% extends 'base.html' %}
{% load moviment_extras %}
{% load static %}
{% block javascript %}
  <script src="{% static 'patrimony/js/moviments.js' %}"></script>
{% endblock %}

{% block title %} Movimentação de Patrimônio {% endblock %}

{% block breadcrumb %}<!--estrutura de links, paginas anteriores-->
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:index' %}">Patrimônio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:moviment' %}">Movimentações</a></li>
    <li class="breadcrumb-item active">Detalhes da Movimentação</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="moviment-tab" data-toggle="tab" href="#moviment" role="tab" aria-controls="home" aria-selected="true">Movimentação</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="moviment" role="tabpanel" aria-labelledby="moviment-tab">
                <h5 class="card-title">Solicitação [N° - {{ moviment.pk }}]
                    <span class="badge badge-{{ moviment|get_status_css_class }}">{{ moviment.get_status_display }}</span>
                    &raquo;&nbsp;Última atualização - {{ moviment.modified|date:"d/m/Y H:i" }}
                </h5>

                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><label class="font-weight-bold">Usuário Responsavel:&nbsp;</label>{{ moviment.user }}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Destino:&nbsp;</label>{{ moviment.destiny }}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Cadastrado em:&nbsp;</label>{{ moviment.created|date:"d/m/Y" }}</div>
                            </div>
                        </li>
                        {% if moviment.status != 1 %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6"><label class="font-weight-bold">Autorizado por:&nbsp;</label>{{ moviment.authorized_by.username }}</div>
                                <div class="col-md-6"><label class="font-weight-bold">Autorizado em:&nbsp;</label>{{ moviment.authorized_date }}</div>
                            </div>                            
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <label class="font-weight-bold">Observação:</label>
                            <p style="text-align: justify;">{{ moviment.obs }}</p>
                        </li>
                    </ul>
                </p>
                {% if moviment.status == 1 %}
                <form class="form-inline js-search-tombo-moviment" action="{% url 'patrimony:search_tombo' moviment.pk %}" method="GET">
                    {% include 'includes/form.html' %}
                    <button class="btn btn-primary ml-4 my-sm-0" type="submit">Buscar</button>
                </form>
                {% endif %}
                <div class="container my-3">
                    <div class="row">
                        {% if moviment.status == 1 %}
                        <div class="col" style="overflow: auto; height:250px">
                            <table class="table table-striped table-sm" id="tombo-table-disponible">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Tombo</th>
                                        <th>Tipo</th>
                                        <th>Marca</th>
                                        <th>Localização</th>
                                        <th>Conservação</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include 'patrimony/tombo/search_tombo_moviment.html' %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %} 
                        <div class="col" style="overflow: auto; height:250px">
                            <table class="table table-striped table-sm" id="tombo-table-add">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Tombo</th>
                                        <th>Tipo</th>
                                        <th>Marca</th>
                                        <th>Localização</th>
                                        <th>Conservação</th>
                                        {% if moviment.status != 3 %}
                                        <th>Ações</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include "patrimony/tombo/add_tombo_moviment.html" %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Status aberto-->
                {% if moviment.status == 1 and perms.patrimony.can_authorize_moviment %}
                    <a class="btn btn-warning btn-xs" href="{% url 'patrimony:authorize' moviment.pk %}">Autorizar</a>
                {% elif moviment.status == 2 and perms.patrimony.can_authorize_moviment %}
                    <a class="btn btn-success btn-xs" href="{% url 'patrimony:finish' moviment.pk %}">Finalizar</a>
                {% endif %}
                
                {% if moviment.status == 1 %}
                    <button type="button" class="btn btn-primary my-2 js-update-moviment" data-url="{% url 'patrimony:moviment_update' moviment.pk %}">
                        Editar
                    </button>
                {% endif %}
            
                {% if moviment.status|in_list:'1,2' %}
                    <button type="button" class="btn btn-danger my-2 js-delete-moviment" data-url="{% url 'patrimony:moviment_delete' moviment.pk %}">
                        Excluir
                    </button>
                {% endif%}

                {% if moviment.status == 3 %}
                    <a class="btn btn-success btn-xs" href="{% url 'patrimony:responsibility' moviment.pk %}" target="_blank">Termo de Responsabilidade</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="modal">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>

{% endblock %}