{% load static %}
<!doctype html>
<html>

<head>
    <title>TDR-[Solicitação N° {{ moviment.pk }}]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container" style="text-align:center; display: flex; justify-content: center">
        <div class="row">
            <ul class="list-group list-group-flush">
                <div class="text-muted">Solicitação [N° - {{ moviment.pk }}]
                    Gerado por:</label>&nbsp;{{ request.user }} | 
                    Gerado em:</label>&nbsp;{{ date|date:"d/m/y H:i" }}
                </div>
                <li class="list-group-item">
                    <h3>TERMO DE RESPONSABILIDADE</h3>
                    <h6 class="text-muted">DIVISÃO DE MATERIAL PATRIMÔNIO, SERVIÇOS GERAIS E TRANSPORTES - DMPSGT</h6>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="font-weight-bold">Úsuario Responsavel:</label>&nbsp;{{ moviment.user }}
                        </div>
                        <div class="col-md-6">
                            <label class="font-weight-bold">Destino:</label>&nbsp;{{ moviment.destiny }}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <p style="text-align: justify;"><label class="font-weight-bold">Observação:</label>
                    {{ moviment.obs }}</p>
                </li>
                <li class="list-group-item">
                    <h5 class="my-2">Tombos para Movimentação</h5>
                    <table class="table table-bordered table-responsive-sm my-2" id="tombo-table-add">
                        <thead class="thead-light">
                            <tr>
                                <th>Tombo</th>
                                <th>Tipo</th>
                                <th>Marca</th>
                                <th>Descrição</th>
                                <th>Localização</th>
                                <th>Estado de Conservação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tombo in tombos %}
                                <tr>
                                    <td>{% if tombo.tombo.tombo is not None %}
                                            {{ tombo.tombo.tombo }}
                                        {% else %}
                                            S/T
                                        {% endif %}
                                    </td>
                                    <td>{{ tombo.tombo.equipment_type }}</td>
                                    <td>{{ tombo.tombo.name }}</td>
                                    <td><p style="width:250px;
                                                text-overflow:ellipsis;
                                                white-space:normal;
                                                overflow:hidden">
                                        {{ tombo.tombo.description }}
                                    </p></td>
                                    <td>{{ tombo.previous_location }}</td>
                                    <td>{{ tombo.get_new_conservation_display }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    Declaro para os devidos fins de direito, que recebi os Bens acima especificados, para Uso, Guarda e Conservação.
                </li>
                <li class="list-group-item">
                    <table class="table table-condesed table-responsive-sm my-2">
                        <thead class="thead-light">
                            <th>Emitente: Setor de Patrimônio</th>
                            <th>Recebedor</th>
                        </thead>
                        <tbody>
                            <td>
                                <div>Data: ____/____/______</div><br/>
                                <div style="text-align:center">
                                    _________________________________________
                                    <br/>Ass. do Responsável
                                </div>
                            </td>
                            <td>
                                <div>Data: ____/____/______</div><br/>
                                <div style="text-align:center">
                                    _________________________________________
                                    <br/>Ass. do chefe do setor
                                </div>
                            </td>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    window.print();
</script>

</html>