{% load widget_tweaks %}

<form method="post" action="{% url 'patrimony:register_equipment' %}" class="js-equipment-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Cadastrar Novo Bem Patrimonial</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'includes/form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </div>
</form>