{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'patrimony/js/equipments.js' %}"></script>
  <script src="{% static 'patrimony/js/tombos.js' %}"></script>
{% endblock %}

{% block title %}Cadastrar Equipamento{% endblock %}

{% block breadcrumb %}<!--estrutura de links, paginas anteriores-->
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:index' %}">Patrimônio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:equipment' %}">Bens Patrimoniais</a></li>
    <li class="breadcrumb-item active">Detalhes do Bem Patrimonial</li>
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="equipment-tab" data-toggle="tab" role="tab"
                    aria-controls="home" aria-selected="true">Bem Patrimonial</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">
                <h5 class="card-title">Bem Patrimonial [N° - {{ equipment.pk }}]
                    {% if equipment.active == 1 %}
                        <span class="badge badge-success">Ativo</span>
                    {% endif %}
                    {% if equipment.active == 0 %}
                        <span class="badge badge-danger">Inativo</span>
                    {% endif %}
                    &raquo; Tombo - {% if equipment.tombo is None %}
                                        Sem Tombo
                                    {% else %} 
                                        {{ equipment.tombo }}
                                    {% endif %}
                </h5>
                {% if equipment.conservation == 0 %}
                    <a class="btn btn-success btn-xs" href="{% url 'patrimony:equipment_responsibility' equipment.pk %}" target="_blank">
                        Termo de Responsabilidade
                    </a>
                {% endif %}
                
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6"><label class="font-weight-bold">Tipo do Bem Patrimonial:&nbsp;</label>{{ equipment.model }}</div>
                                <div class="col-md-6"><label class="font-weight-bold">Marca do Bem Patrimonial:&nbsp;</label>{{ equipment.name }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row"> 
                                <div class="col-md-6"><label class="font-weight-bold">Localização:&nbsp;</label>{{ equipment.location }}</div>
                                <div class="col-md-6"><label class="font-weight-bold">Estado de Conservação:&nbsp;</label>{{ equipment.get_conservation_display }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6"><label class="font-weight-bold">Cadastrado em:&nbsp;</label>{{ equipment.created }}</div>
                                <div class="col-md-6"><label class="font-weight-bold">Última atualização:&nbsp;</label>{{ equipment.modified }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="font-weight-bold">Descrição:</label>
                            <p style="text-align: justify;">{{ equipment.description }}</p>
                        </li>
                    </ul>
                </p>
                <a class="btn btn-warning"
                    href="{% url 'patrimony:tombo_history' equipment.pk %}" target="_blank">
                    Histórico
                </a>
                <button type="button" class="btn btn-primary my-2 js-update-equipment" data-url="{% url 'patrimony:equipment_update' equipment.pk %}">
                    Editar
                </button>
                <button type="button" class="btn btn-danger my-2 js-delete-equipment" data-url="{% url 'patrimony:equipment_delete' equipment.pk %}">
                    Excluir
                </button>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="modal">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
</div>

{% endblock %}