{% extends 'base.html' %}
{% load static %}
{% block javascript %}
  <script src="{% static 'patrimony/js/equipments.js' %}"></script>
{% endblock %}

{% block breadcrumb %}<!--estrutura de links, paginas anteriores-->
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'patrimony:index' %}">Patrimônio</a></li>
    <li class="breadcrumb-item active">Bens Patrimoniais</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-7"> <!--Botão para cadastrar novo equipamento-->
        <button type="button" class="btn btn-primary my-2 js-create-equipment"
        data-url="{% url 'patrimony:register_equipment' %}">
            Novo Bem Patrimonial
        </button>
    </div>
    
    <form class="form-inline" action="{% url 'patrimony:equipment' %}" method="GET">
        {% include 'includes/form.html' with form=search_tombo %}
        <button class="btn btn-success" type="submit">Buscar</button>
    </form>
    
</div>

    <!--Tabela do patrimonio-->
    <table class="table table-striped table-responsive-sm" id="equipment-table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Tombo</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Localização</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
                <tr>
                    <td><a href="{% url 'patrimony:detail_equipment' equipment.id %}">[Nº - {{ equipment.pk }}]</a></td>
                    <td>
                        {% if equipment.tombo is None %}
                            S/T
                        {% else %}
                            {{ equipment.tombo }}
                        {% endif %}
                    </td>
                    <td>{{ equipment.equipment_type }}</td>
                    <td>{{ equipment.name }}</td>
                    <td>{{ equipment.location }}</td>
                    {% if equipment.active == 1 %}
                        <td><span class="badge badge-success">Ativo</span></td>
                    {% endif %}
                    {% if equipment.active == 0 %}
                        <td><span class="badge badge-danger">Inativo</span></td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">Nenhum Bem Patrimonial</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<!--Modal-->
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% include 'includes/pagination.html' %}
{% endblock %}