{% load widget_tweaks %}

<form method="post" action="{% url 'patrimony:equipment_delete' equipment.pk %}" class="js-equipment-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Deletar Bem Patrimonial</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="lead">Você tem certeza que deseja deletar o bem patrimonial <strong>{{ equipment.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-danger">Excluir</button>
  </div>
</form>