{% load static %}
<!doctype html>
<html>

<head>
    <title>TDR-[Bem Patrimonial N° {{ equipment.pk }}]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container" style="text-align:center; display: flex; justify-content: center">
        <div class="row">
            <ul class="list-group list-group-flush">
                <div class="text-muted">Patrimônio [N° - {{ equipment.pk }}] | 
                    Gerado por:</label>&nbsp;{{ request.user }} | 
                    Gerado em:</label>&nbsp;{{ date|date:"d/m/y H:i" }}
                </div>
                <li class="list-group-item">
                    <h3>TERMO DE RESPONSABILIDADE</h3>
                    <h6 class="text-muted">DIVISÃO DE MATERIAL PATRIMÔNIO, SERVIÇOS GERAIS E TRANSPORTES - DMPSGT</h6>
                </li>
                <li class="list-group-item">
                    <table class="table table-bordered table-sm my-2">
                        <thead class="thead-light">
                            <tr>
                                <th style="width:10%">Tombo</th>
                                <th style="width:10%">Tipo</th>
                                <th style="width:10%">Marca</th>
                                <th style="width:50%">Descrição</th>
                                <th style="width:10%">Localização</th>
                                <th style="width:10%">Conservação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% if equipment.tombo is not None %}
                                        {{ equipment.tombo }}
                                    {% else %}
                                        S/T
                                    {% endif %}
                                </td>
                                <td>{{ equipment.equipment_type }}</td>
                                <td>{{ equipment.name }}</td>
                                <td>
                                    {{ equipment.description }}
                                </td>
                                <td>{{ equipment.location }}</td>
                                <td>{{ equipment.get_conservation_display }}</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    Declaro para os devidos fins de direito, que recebi os Bens acima especificados, para Uso, Guarda e Conservação.
                </li>
                <li class="list-group-item">
                    <table class="table table-condesed table-responsive-sm my-2">
                        <thead class="thead-light">
                            <th>Chefe de Divisão</th>
                        </thead>
                        <tbody>
                            <td>
                                <div>Data: ____/____/______</div><br/>
                                <div style="text-align:center">
                                    _________________________________________
                                    <br/>Ass. do Responsável
                                </div>
                            </td>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    window.print();
</script>

</html>