{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %} Patrimônio {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active">Patrimônio</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% include 'includes/navbar.html' %}
        <div class="col-12 col-sm-12 col-md-10">
        <div class="card-body">
            <h1 class="card-title">Bem-vindo!</h1>
            <p class="card-text"><h6>Serviço para formalizar a movimentação de patrimônios,
                possibilitando o cadastro de bens patrimoniais.</h6></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
