{% extends 'base.html' %}

{% block app_search_form %}
    {% include 'includes/helpdesk_search_form.html' %}
{% endblock %}

{% load ticket_extras %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Helpdesk</li>
{% endblock %}

{% block content %}

<div class="my-4">
    <a class="btn btn-primary" href="{% url 'helpdesk:create' %}">Novo ticket</a>
</div>

<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Usuário</th>
            <th>Requisição</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th>Criado em</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in ticket_list %} 
        <tr>
            <td><a href="{% url 'helpdesk:detail' ticket.id %}">[Ticket N° - {{ ticket.id }}]</a></td>
            <td>{{ ticket.user.username }}</td>
            <td>{% if ticket.ranking %}{{ ticket.ranking }}{% else %}Sem classificação{% endif %}</td>
            <td><span class="badge badge-{{ ticket|get_priority_css_class }}">{{ ticket.get_priority_display }}</span></td>
            <td><span class="badge badge-{{ ticket|get_status_css_class }}">{{ ticket.get_status_display }}</span></td>
            <td>{{ ticket.created|date:"d/m/y H:i" }}</td>
        </tr>
        {% endfor %}                
    </tbody>
</table>

{% include 'includes/pagination.html' %}

{% endblock %}