{% load static %}
<!doctype html>
<html>

<head>
    <title>[Ticket N° {{ ticket.pk }}]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container">

        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th>Aberto por:</th>
                    <td>{{ ticket.user }}</td>
                    <th>Status:</th>
                    <td>{{ ticket.get_status_display }}</td>
                </tr>
                <tr>
                    <th>Localidade:</th>
                    <td></td>
                    <th>Setor:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Fila:</th>
                    <td>{{ ticket.ranking.get_queue_display }}</td>
                    <th>Requisição:</th>
                    <td>{{ ticket.ranking.name }}</td>
                </tr>
                <tr>
                    <th>SLA - Análise:</th>
                    <td>{{ ticket.ranking.sla_to_analyze }}</td>
                    <th>SLA - Solução:</th>
                    <td>{{ ticket.ranking.sla_to_solve }}</td>
                </tr>
                <tr>
                    <th>Técnico Associado:</th>
                    <td colspan="3">{{ ticket.assigned_to }}</td>
                </tr>
                <tr>
                    <th>Aberto em:</th>
                    <td>{{ ticket.created|date:"d/m/y H:i" }}</td>
                    <th>Ultima Atualização:</th>
                    <td>{{ ticket.modified|date:"d/m/y H:i" }}</td>
                </tr>
                <tr>
                    <th>Descrição:</th>
                    <td colspan="3">{{ ticket.description }}</td>
                </tr>
            </tbody>
        </table>

        <hr/>

        <h2>Atendimentos</h2>
        <ul class="list-group list-group-flush">
            {% for follow_up in follow_up_list reversed %}
            <li class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Atendimento</h5>
                    <small>{{ follow_up.created|date:"d/m/y H:i" }}</small>
                </div>
                <p class="mb-1">{{ follow_up.comment }}</p>
                <label class="font-weight-bold">Status:&nbsp;</label>{{ follow_up.get_status_display }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>