{% extends 'base.html' %} 

{% load widget_tweaks %}

{% block title %}Novo Ticket{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'helpdesk:index' %}">Helpdesk</a></li>
<li class="breadcrumb-item active">Novo Ticket</li>
{% endblock %}

{% block content %}
<form method="post" id="ticketForm" data-rankings-url="{% url 'helpdesk:ajax_load_rankings' %}" novalidate>
  {% csrf_token %}
  
  {% include 'includes/form.html' %}

  <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $("#id_queue").change(function () {
            var url = $("#ticketForm").attr("data-rankings-url");  // get the url of the `load_cities` view
            var queueId = $(this).val();                           // get the selected country ID from the HTML input
            $.ajax({                                               // initialize an AJAX request
                url: url,                                          // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'queue': queueId                               // add the country id to the GET parameters
                },
                success: function (data) {                         // `data` is the return of the `load_cities` view function
                    $("#id_ranking").html(data);                   // replace the contents of the city input with the data that came from the server
                }
            });

        });
    });    
</script> 
{% endblock %}