{% extends 'base.html' %}
{% load ticket_extras %}

{% block title %}Ticket{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'helpdesk:index' %}">Helpdesk</a>
</li>
<li class="breadcrumb-item active">Ticket</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="ticket-tab" data-toggle="tab" href="#ticket" role="tab" aria-controls="home" aria-selected="true">Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="followup-tab" data-toggle="tab" href="#followup" role="tab" aria-controls="followup" aria-selected="false">Atendimentos</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
                <h5 class="card-title">Ticket [N° - {{ ticket.pk }}]
                    <span class="badge badge-{{ ticket|get_priority_css_class }}">{{ ticket.get_priority_display }}</span>
                    <span class="badge badge-{{ ticket|get_status_css_class }}">{{ ticket.get_status_display }}</span>
                    Última atualização - {{ ticket.modified|date:"d/m/y H:i" }}
                </h5>
                <a class="btn btn-danger btn-xs" href="{% url 'helpdesk:pdf' ticket.pk %}" target="_blank">PDF</a>
                
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><label class="font-weight-bold">Técnico Associado:&nbsp;</label>
                            {% if ticket.assigned_to %}
                                {{ ticket.assigned_to }}
                            {% else %}
                                {% if user|has_group:"helpdesk_staff" %}
                            <a class="btn btn-warning btn-xs" href="{% url 'helpdesk:assign' ticket.pk %}" role="button">Atribuir</a>
                                {% endif %}
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6"><label class="font-weight-bold">Aberto por:&nbsp;</label>{{ ticket.user.username }}</div>
                                <div class="col-md-6"><label class="font-weight-bold">Aberto em:&nbsp;</label>{{ ticket.created|date:"d/m/y H:i" }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6"><label class="font-weight-bold">Fila:&nbsp;</label>{{ ticket.ranking.get_queue_display }}</div>
                                <div class="col-md-6"><label class="font-weight-bold">Requisição:&nbsp;</label>{{ ticket.ranking.name }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <label class="font-weight-bold">Descrição:</label>
                            <p style="text-align: justify;">{{ ticket.description }}</p>
                        </li>
                    </ul>
                </p>

                {% if ticket.status|in_list:'1,4' %}
                    {% if user|has_group:"helpdesk_staff"%}
                <a class="btn btn-warning btn-xs" href="{% url 'helpdesk:update' ticket.pk %}">Editar</a>
                    {% endif %}
                    <button type="button" id="modalDeleteButton" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                        Excluir
                    </button>
                {% endif%}
            </div>

            <div class="tab-pane fade" id="followup" role="tabpanel" aria-labelledby="followup-tab">
                {% if user|has_group:"helpdesk_staff" %}
                <form action="{% url 'helpdesk:followup' pk=ticket.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment" class="control-label">Comentário / Solução:</label>
                        <textarea class="form-control" rows="5" name="comment" required></textarea>
                    </div>
                    
                    <div class="form-group">
                    
                        <!--Ticket Aberto-->
                        {% ifequal ticket.status 1 %}
                        <label class="radio-inline">
                            <input type='radio' name='status' value='1' checked='checked'>Aberto &raquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='2'>Solucionado &raquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='3'>Encerrado</label>
                        {% endifequal %}
                    
                        <!--Ticket Solucionado-->
                        {% ifequal ticket.status 2 %}
                        <label class="radio-inline">
                            <input type='radio' name='status' value='4'>Reaberto &laquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='2' checked='checked'>Solucionado &raquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='3'>Encerrado</label>
                        {% endifequal %}
                    
                        <!--Ticket Encerrado-->
                        {% ifequal ticket.status 3 %}
                        <label class="radio-inline">
                            <input type='radio' name='status' value='4'>Reaberto &laquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='3' checked='checked'>Encerrado</label>
                        {% endifequal %}
                    
                        <!--Ticket Reaberto-->
                        {% ifequal ticket.status 4 %}
                        <label class="radio-inline">
                            <input type='radio' name='status' value='4' checked='checked'>Reaberto &laquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='2'>Solucionado &raquo;</label>
                        <label class="radio-inline">
                            <input type='radio' name='status' value='3'>Encerrado</label>
                        {% endifequal %}
                    
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </form>
                {% endif %}

                <p class="card-text">
                    <ul class="list-group list-group-flush">   
                        {% for follow_up in follow_up_list reversed %}
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Atendimento</h5>
                                <small>{{ follow_up.created|date:"d/m/y H:i" }}</small>
                            </div>
                            <p class="mb-1">{{ follow_up.comment }}</p>
                            <label class="font-weight-bold">Status:&nbsp;</label><span class="badge badge-{{ follow_up|get_status_css_class }}">{{ follow_up.get_status_display }}</span>
                        </li>
                        {% endfor %}                                            
                    </ul>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o registro?
            </div>
            <div class="modal-footer">
                <form action="{% url 'helpdesk:delete' ticket.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}