{% extends 'accounts/base_accounts.html' %}

{% block title %}Change password{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Mudar senha</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Change password</h3>
                <form method="post" novalidate>
                    {% csrf_token %} 
                    {% include 'includes/form.html' %}
                    <button type="submit" class="btn btn-success">Mudar senha</button>
                </form>
            </div>
            <div class="card-footer text-muted text-center">

            </div>
        </div>
    </div>
</div>
{% endblock %}