{% extends 'base.html' %}

{% block app_search_form %}
    {% include 'includes/vehicle_request_search_form.html' %}
{% endblock %}

{% load request_extras %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active">Solicitação de Veículo</li>
{% endblock %}

{% block content %}

<div class="my-4">
    <a class="btn btn-primary" href="{% url 'vehicle_request:create' %}">Nova Solicitação</a>
</div>

<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Usuário</th>
            <th>Destino</th>            
            <th>Status</th>
            <th>Criado em</th>
        </tr>
    </thead>
    <tbody>
        {% for vehicle_request in vehicle_request_list %} 
        <tr>
            <td><a href="{% url 'vehicle_request:detail' vehicle_request.id %}">[Solicitação N° - {{ vehicle_request.id }}]</a></td>
            <td>{{ vehicle_request.user.username }}</td>
            <td>{{ vehicle_request.destiny }}</td>
            <td><span class="badge badge-{{ vehicle_request|get_status_css_class }}">{{ vehicle_request.get_status_display }}</span></td>
            <td>{{ vehicle_request.created|date:"d/m/y H:i" }}</td>
        </tr>
        {% endfor %}                
    </tbody>
</table>

{% include 'includes/pagination.html' %}

{% endblock %}