{% load static %}
<!doctype html>
<html>

<head>
    <title>[Solicitação N° {{ vehicle_request.pk }}]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container">
        <div class="row">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <label class="font-weight-bold">Solicitação [N° - {{ vehicle_request.pk}}]</label></div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Tipo de solicitação:&nbsp;</label>{{ vehicle_request.get_request_type_display}}</div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Aberto por:&nbsp;</label>{{ vehicle_request.user.username }}</div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Setor:&nbsp;</label>{{ vehicle_request.unit.name }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Aberto em:&nbsp;</label>{{ vehicle_request.created|date:"d/m/y H:i" }}</div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Solicitado para:&nbsp;</label>{{ vehicle_request.scheduled_date|date:"d/m/y" }}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Autorizado por:&nbsp;</label>{{ vehicle_request.authorized_by.username }}</div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Autorizado em:&nbsp;</label>{{ vehicle_request.authorized_date|date:"d/m/y H:i" }}</div>
                    </div>
                </li>
                <li class="list-group-item">

                    <div class="row">
                        <div class="col-md-4">
                            <label class="font-weight-bold">Atendido em:&nbsp;</label>{{ vehicle_request.departure_date|date:"d/m/y" }}</div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Motorista:&nbsp;</label>{% if vehicle_request.driver %}{{ vehicle_request.driver }}{% endif %}</div>
                        <div class="col-md-4">
                            <label class="font-weight-bold">Veículo:&nbsp;</label>{% if vehicle_request.vehicle %}{{ vehicle_request.vehicle }}{% endif %}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <label class="font-weight-bold">Destino:</label>
                    {{ vehicle_request.destiny }}
                </li>
                <li class="list-group-item">
                    <label class="font-weight-bold">Objetivo:</label>
                    <p style="text-align: justify;">{{ vehicle_request.purpose }}</p>
                </li>
                <li class="list-group-item">
                    <label class="font-weight-bold">Observação:</label>
                    <p style="text-align: justify;">{{ vehicle_request.obs }}</p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>