{% extends 'base.html' %} 

{% load widget_tweaks %}

{% block title %}Create Vehicle Request{% endblock %} 

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'vehicle_request:index' %}">Solicitação de Veículo</a></li>
    <li class="breadcrumb-item active">Nova Solicitação</li>
{% endblock %} 

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %} 
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
{% endblock %}