{% extends 'base.html' %}
{% load request_extras %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'vehicle_request:index' %}">Solicitação de Veículo</a>
</li>
<li class="breadcrumb-item active">Solicitação</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="home" aria-selected="true">Solicitação</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">
                <h5 class="card-title">Solicitação [N° - {{ vehicle_request.pk }}] 
                    <span class="badge badge-{{ vehicle_request|get_status_css_class }}">{{ vehicle_request.get_status_display }}</span>
                </h5>
                <a class="btn btn-danger btn-xs" href="{% url 'vehicle_request:pdf' vehicle_request.pk %}" target="_blank">PDF</a>
                
                <p class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><label class="font-weight-bold">Tipo de solicitação:&nbsp;</label>{{ vehicle_request.get_request_type_display}}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Aberto por:&nbsp;</label>{{ vehicle_request.user.username }}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Setor:&nbsp;</label>{{ vehicle_request.unit.name }}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><label class="font-weight-bold">Aberto em:&nbsp;</label>{{ vehicle_request.created|date:"d/m/y H:i" }}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Solicitado para:&nbsp;</label>{{ vehicle_request.scheduled_date|date:"d/m/y" }}</div>
                            </div>                            
                        </li>
                        {% if vehicle_request.status != 1 %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-4"><label class="font-weight-bold">Autorizado por:&nbsp;</label>{{ vehicle_request.authorized_by.username }}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Autorizado em:&nbsp;</label>{{ vehicle_request.authorized_date|date:"d/m/y H:i" }}</div>
                            </div>                            
                        </li>
                        {% endif %}                  
                        <li class="list-group-item">
                            <!--Status autorizado-->
                            {% if vehicle_request.status == 2 %}
                                {% if user|has_group:"transport_staff"%}
                                    {% include 'includes/attend_form.html' with pk=vehicle_request.pk users=user_list vehicles=vehicle_list %}
                                {% endif %}
                            {% else %}
                            <div class="row">
                                {% if vehicle_request.departure_date %}
                                <div class="col-md-4"><label class="font-weight-bold">Atendido em:&nbsp;</label>{{ vehicle_request.departure_date|date:"d/m/y" }}</div>
                                {% endif %}
                                <div class="col-md-4"><label class="font-weight-bold">Motorista:&nbsp;</label>{% if vehicle_request.driver %}{{ vehicle_request.driver }}{% endif %}</div>
                                <div class="col-md-4"><label class="font-weight-bold">Veículo:&nbsp;</label>{% if vehicle_request.vehicle %}{{ vehicle_request.vehicle }}{% endif %}</div>
                            </div>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            <label class="font-weight-bold">Destino:</label>
                            {{ vehicle_request.destiny }}
                        </li>
                        <li class="list-group-item">
                            <label class="font-weight-bold">Objetivo:</label>
                            <p style="text-align: justify;">{{ vehicle_request.purpose }}</p>
                        </li>
                        <!--Status finalizado-->
                        {% if vehicle_request.status == 4 %}
                        <li class="list-group-item">
                            <label class="font-weight-bold">Observação:</label>
                            <p style="text-align: justify;">{{ vehicle_request.obs }}</p>
                        </li>
                        {% endif%}
                    </ul>
                </p>

                <!--Status aberto-->
                {% if vehicle_request.status == 1 %}
                    {% if user|has_group:"transport_accountable"%}
                <a class="btn btn-warning btn-xs" href="{% url 'vehicle_request:authorize' vehicle_request.pk %}">Autorizar</a>
                    {% endif %}
                {% endif%}

                {% if vehicle_request.status == 3 %}
                    {% if user|has_group:"transport_staff"%}
                        {% include 'includes/finish_form.html' with pk=vehicle_request.pk %}
                    {% endif %}
                {% endif%}      
                
                {% if vehicle_request.status|in_list:'1,2' %}
                    <button type="button" id="modalDeleteButton" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">
                        Excluir
                    </button>
                {% endif%}  

                
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir o registro?
            </div>
            <div class="modal-footer">
                <form action="{% url 'vehicle_request:delete' vehicle_request.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}