{% for tombo in tombos_add %}
  <tr>
    <td>{% if tombo.tombo.tombo is not None %}
          {{ tombo.tombo.tombo }}
        {% else %}
          S/T
        {% endif %}
    </td>
    <td>{{ tombo.tombo.equipment_type }}</td>
    <td>{{ tombo.tombo.name }}</td>
    <td>{{ tombo.previous_location }}</td>
    <td>{{ tombo.get_new_conservation_display }}</td>
    {% if moviment.status != 3 %}
    <td>
      <a class="btn btn-danger btn-sm" 
        href="{% url 'patrimony:del_tombo' pk_m=moviment.pk pk_t=tombo.tombo.pk %}">
        Excluir
      </a>
    </td>
    {% endif %}
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="text-center">Nenhum Bem Patrimonial</td>
  </tr>
{% endfor %}