{% for tombo in equipments %}
  <tr>
    <td>{% if tombo.tombo is not None %}
          {{ tombo.tombo }}
        {% else %}
          S/T
        {% endif %}
    </td>
    <td>{{ tombo.equipment_type }}</td>
    <td>{{ tombo.name }}</td>
    <td>{{ tombo.location }}</td>
    <td>
      <form method="GET" action="{% url 'patrimony:add_tombo' pk_m=moviment.pk pk_t=tombo.pk %}" id={{tombo.id}}>
        {{ tombo.get_conservation_display }} |</br>
        <select name="select">
          {% if tombo.conservation <= 1 %}
            <option value="1">Bom</option>
          {% endif %}
          {% if tombo.conservation <= 2 %}
            <option value="2">Ruim</option>
          {% endif %}
          <option value="3">Inservível</option>
        </select>
      </form>
    </td>
    <td>
      <button type="submit" class="btn btn-primary btn-sm" form={{tombo.id}}>
        Add
      </button>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="8" class="text-center">Nenhum Bem Patrimonial</td>
  </tr>
{% endfor %}