{% load static %}
<!doctype html>
<html>

<head>
    <title>Histórico</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>

    <div class="container" style="text-align:center; display: flex; justify-content: center">
        <div class="row">
            <ul class="list-group list-group-flush">
                <div class="text-muted">Bem Patrimonial:
                    {% if equipment.tombo is None %}
                        Sem Tombo
                    {% else %} 
                        {{ equipment.tombo }}
                    {% endif %}</div>
                <li class="list-group-item">
                    <h4>HISTÓRICO DO TOMBO NAS MOVIMENTAÇÕES</h4>
                </li>
                <li class="list-group-item">
                    <table class="table table-bordered table-responsive-sm my-2">
                        <thead class="thead-light">
                            <tr>
                                <th>Data da Movimentação</th>
                                <th>Movimentação Nº</th>
                                <th>Localização</th>
                                <th>Estado de Conservação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if equipment.conservation == 0 %}
                                <tr>
                                    <td>{{ equipment.created|date:"d/m/Y H:i" }}</td>
                                    <td>-</td>
                                    <td>{{ equipment.location }}</td>
                                    <td>{{ equipment.get_conservation_display }}</td>
                                </tr>
                            {% endif %}
                            {% for tombo in moviments %}
                                {% if tombo.moviment.status == 3 %}
                                    <tr>
                                        <td>{{ tombo.date_moviment|date:"d/m/Y H:i" }}</a></td>
                                        <td>{{ tombo.moviment.id }}</td>
                                        <td><strong>De:</strong>{{ tombo.previous_location }} |
                                            <strong>Para:</strong>{{ tombo.new_location }}
                                        </td>
                                        <td><strong>De:</strong>{{ tombo.get_previous_conservation_display }} |
                                            <strong>Para:</strong>{{ tombo.get_new_conservation_display }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>