{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-4"><!--HELPDESK-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Helpdesk</h5>
                <p class="card-text">Serviço de apoio a usuários para suporte e resolução de problemas técnicos, 
                    informática, e tecnologias de informação</p>
                <a href="{% url 'helpdesk:index' %}" class="btn btn-primary">Acessar serviço</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"><!--Solicitação de Veículo-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Solicitação de Veículos</h5>
                <p class="card-text">Serviço para formalizar a utilização de veículos, 
                    possibilitando o planejamento da área de Transportes</p>
                <a href="{% url 'vehicle_request:index' %}" class="btn btn-primary">Acessar serviço</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4"><!--Movimentação de Patrimônio-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Patrimônio</h5>
                <p class="card-text">Serviço para formalizar a movimentação de patrimônios, 
                    possibilitando o cadastro de tombos, movimentação</p>
                <a href="{% url 'patrimony:index' %}" class="btn btn-primary">Acessar serviço</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}