<form class="form-inline" method="POST" action="{% url 'vehicle_request:attend' pk %}">
    {% csrf_token %}
    
    <div class="form-group mx-sm-3 mb-2">
        <label for="users">Usuários:&nbsp;</label>
        <select class="form-control" id="users" name="user" required>
            <option value="">---------</option>
            {% for user in users %}
            <option value="{{ user.pk }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="vehicle">Veículo:&nbsp;</label>
        <select class="form-control" id="vehicle" name="vehicle" required>
            <option value="">---------</option>
            {% for vehicle in vehicles %}
            <option value="{{ vehicle.pk }}">{{ vehicle.license_plate }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Atender Solicitação</button>
</form>