<form method="POST" action="{% url 'vehicle_request:finish' pk %}">
    {% csrf_token %}

    <div class="form-group mb-2">
        <label for="obs">Observação:&nbsp;</label>
        <textarea class="form-control" id="obs" name="obs" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Finalizar</button>
</form>