<div class="col-md-2 d-none d-md-block">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patrimony:equipment' %}">Bens Patrimoniais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'patrimony:moviment' %}">Movimentações</a>
        </li>
    </ul>
</div>