<form class="form-inline my-2 my-lg-0" action="{% url 'patrimony:moviment_search' %}" method="GET">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>